section {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}


main {
    display: flex;
    flex-direction: column;
    gap: 30px; 
}



.row1, .row2 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}